#App {
    min-height: 100vh !important;
    max-width: 100vw !important;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

.article p {
    margin: 0.5rem 0;
    text-indent: 2em;
}
