/***************************************************** ----- **********************************************************/
#Footer .links hr{
    height: 1em;
    border-width: thin;
    border-style: solid;
}

#Footer a{
    color: inherit;
    text-decoration: none !important;
}
