#Header a {
    text-decoration: none !important;
}

#Header a.active button {
    font-weight: bold;
    background-color: rgba(255,255,255,0.5) !important;
}

#Header a:link {
    text-decoration: none !important;
}

#Header .site-name{
    line-height: 1.7;
    font-family: "Jokerman", sans-serif;
}
