@charset "UTF-8";

/***************************************************** ----- **********************************************************/
#HomePage .banner-swiper img {
    width: 100%;
    height: auto;
}

#HomeSwiper [class^="swiper-button"] {
    color: white;
}

#HomeSwiper [class~="swiper-pagination-bullet-active"] {
    color: inherit;
    background-color: white;
}

#HomeSwiper .swiper-slide > .MuiBox-root {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vw;
    background-size: cover;
}

#HomeSwiper .swiper-slide > .MuiBox-root > h3 {
    color: rgba(255, 255, 255, 85%);
    /*opacity: 80%;*/
}

#Logos .MuiGrid-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#Logos button {
    color: inherit;
}

#Logos svg {
    font-size: 2em;
    transition: all 0.5s;
}

#Logos svg:hover {
    transform: scale(150%);
}

#Logos #React:hover {
    color: rgb(97, 218, 251);
}

#Logos #ReactRouter:hover {
    color: red;
}

#Logos #Redux:hover {
    color: rgb(118, 74, 188);
}

#Logos #SpringBoot:hover {
    color: #6CB52D;
}

#Logos #Swiper:hover {
    color: #0066cc;
}

#Logos #Jetbrains:hover {
    color: black;
}
