@charset "UTF-8";

/***************************************************** Fonts **********************************************************/
@font-face {
    font-family: "Source Han Sans";
    font-weight: 100 900;
    font-stretch: 75% 125%;
    src: local("Source Han Sans"),
    url("../fonts/source-han-sans/SourceHanSans-VF.otf") format("opentype-variations"),
    url("../fonts/source-han-sans/SourceHanSans-VF.ttf") format("truetype-variations"),
    url("../fonts/source-han-sans/SourceHanSans-VF.otf.woff2") format("woff2-variations"),
    url("../fonts/source-han-sans/SourceHanSans-VF.ttf.woff2") format("woff2-variations");
}

@font-face {
    font-family: "Fira Code";
    font-weight: 300 700;
    font-stretch: 75% 125%;
    src: local("Fira Code"),
    url("../fonts/fira-code/FiraCode-VF.ttf") format("truetype-variations"),
    url("../fonts/fira-code/FiraCode-VF.woff") format("woff-variations"),
    url("../fonts/fira-code/FiraCode-VF.woff2") format("woff2-variations");
}

@font-face {
    font-family: "Jokerman";
    font-weight: normal;
    font-stretch: normal;
    src: local("Jokerman"),
    url("../fonts/jokerman/Jokerman-Regular.ttf") format("truetype-variations");
}

/***************************************************** Others **********************************************************/
::selection {
    color: aqua;
    background-color: black;
}

html::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
}

html::-webkit-scrollbar-button {
    display: none;
}

html::-webkit-scrollbar-thumb {
    background-color: #e78632;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .3) 20%, transparent 20%, transparent 40%, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, .3) 60%, transparent 60%, transparent 80%, rgba(255, 255, 255, 0.3) 80%);
    border-radius: 8px;
}

html::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.5);
}

html::-webkit-scrollbar-track-piece{
    background-color: rgba(0, 0, 0, 0.5);
}

html::-webkit-scrollbar-corner{
    background-color: yellow;
}

::-webkit-resizer{

}

html {
    font-size: 16px;
    font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: "Fira Code", "Source Code Pro", "Menlo", "Monaco", "Consolas", "Courier New", monospace;
    font-weight: 450;
}
