/************************************************ TechnologyPage *****************************************************/


/******************************************************** Sidebar ****************************************************/
#Sidebar::-webkit-scrollbar {
    display: none;
}

#Sidebar a {
    display: block;
    width: 100%;
    color: inherit;
    text-decoration: none;
}
#Sidebar a.active {
    background-color: lightgrey;
    background-clip: content-box;
    border-top-left-radius: 0.65rem;
    border-bottom-left-radius: 0.65rem;
}

/* list */
#Sidebar ul {
    padding: 0;
    margin-right: 0;
    margin-left: auto;
}
#Sidebar ul.sub {
    width: 95%;
}

/* list item */
#Sidebar .MuiListItem-root {
    padding: 0;
    background-color: papayawhip;
    border-top-left-radius: 0.65rem;
    border-bottom-left-radius: 0.65rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 6px 0;
}
#Sidebar ul.lv1 > .MuiListItem-root {
    margin: 1.5rem auto;
}
#Sidebar ul.sub > .MuiListItem-root {
    margin: 1rem auto;
}
#Sidebar .MuiListItem-root.sup {
    margin-top: 0 !important;
}

/* icon */
#Sidebar ul.lv1 .MuiListItemIcon-root > svg {
    font-size: xx-large;
}
#Sidebar ul.lv2 .MuiListItemIcon-root > svg {
    font-size: x-large;
}
#Sidebar ul.lv3 .MuiListItemIcon-root > svg {
    font-size: large;
}

/* font */
#Sidebar .MuiListItemText-primary {
    font-weight: bold;
}
#Sidebar ul.lv1 .MuiListItemText-primary {
    font-size: xx-large;
}
#Sidebar ul.lv2 .MuiListItemText-primary {
    font-size: x-large;
}
#Sidebar ul.lv3 .MuiListItemText-primary {
    font-size: large;
}



/********************************************************************************************************************/
#TechnologyPage .demo .MuiToolbar-root.bottom button {
    border: thin solid dimgrey;
    margin: 0 0.5rem;
}

#TechnologyPage .property * {
    font-family:"Fira Code Retina", monospace !important;
}
