/************************************************ TechnologyPage *****************************************************/
:root {
  --md-list-lv1-font-size: 1.10rem;
  --md-list-lv2-font-size: 1.00rem;
  --md-list-lv3-font-size: 0.90rem;
  --lg-list-lv1-font-size: 1.75rem;
  --lg-list-lv2-font-size: 1.55rem;
  --lg-list-lv3-font-size: 1.35rem;
  --xl-list-lv1-font-size: 2.00rem;
  --xl-list-lv2-font-size: 1.80rem;
  --xl-list-lv3-font-size: 1.60rem;
}

/******************************************************** Sidebar ****************************************************/
#Sidebar::-webkit-scrollbar {
  display: none;
}

#Sidebar a {
  display: block;
  width: 100%;
  color: inherit;
  text-decoration: none;
}
#Sidebar a.active {

  background-clip: content-box;
  border-top-left-radius: 0.65rem;
  border-bottom-left-radius: 0.65rem;
}

/* list */
#Sidebar ul {
  padding: 0;
  margin-right: 0;
  margin-left: auto;
}
#Sidebar ul.sub {
  width: 95%;
}

/* list item */
#Sidebar .MuiListItem-root {
  padding: 0;
  border-top-left-radius: 0.65rem;
  border-bottom-left-radius: 0.65rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 6px 0;
}
#Sidebar ul.lv1 > .MuiListItem-root {
  margin: 1.5rem auto;
}
#Sidebar ul.sub > .MuiListItem-root {
  margin: 1rem auto;
}
#Sidebar .MuiListItem-root.sup {
  margin-top: 0 !important;
}
/* MD */
@media all and (min-width: 900px) and (max-width: 1199px){
  #Sidebar ul.lv1 > .MuiListItem-root{
    font-size: var(--md-list-lv1-font-size);
  }
  #Sidebar ul.lv2 > .MuiListItem-root{
    font-size: var(--md-list-lv2-font-size);
  }
  #Sidebar ul.lv3 > .MuiListItem-root{
    font-size: var(--md-list-lv3-font-size);
  }
}
/* LG */
@media all and (min-width: 1200px) and (max-width: 1535px){
  #Sidebar ul.lv1 > .MuiListItem-root{
    font-size: var(--lg-list-lv1-font-size);
  }
  #Sidebar ul.lv2 > .MuiListItem-root{
    font-size: var(--lg-list-lv2-font-size);
  }
  #Sidebar ul.lv3 > .MuiListItem-root{
    font-size: var(--lg-list-lv3-font-size);
  }
}
/* XL */
@media all and (min-width: 1536px) and (max-width: 2047px) {
  #Sidebar ul.lv1 > .MuiListItem-root{
    font-size: var(--xl-list-lv1-font-size);
  }
  #Sidebar ul.lv2 > .MuiListItem-root{
    font-size: var(--xl-list-lv2-font-size);
  }
  #Sidebar ul.lv3 > .MuiListItem-root{
    font-size: var(--xl-list-lv3-font-size);
  }
}

/* icon & font */
#Sidebar .MuiListItemText-primary {
  font-size: inherit;
  font-weight: bold;
}
#Sidebar .MuiListItemIcon-root {
  min-width: fit-content;
  margin-right: 0.5rem;
}
#Sidebar .MuiSvgIcon-root {
  font-size: inherit;
}


/********************************************************************************************************************/
#TechnologyPage .demo .MuiToolbar-root.bottom button {
  border: thin solid dimgrey;
  margin: 0 0.5rem;
}

#TechnologyPage .property * {
  font-family: "Fira Code Retina", monospace !important;
}
